
body{
    background-color: gray;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 40px;
    width: 400px;
    margin: auto;
    grid-area: main;
}
.grid-container2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 45px;
    width: 700px;
    margin: auto;
    grid-area: main;
}

.welcome{
    background-color: dimgrey;
    font-family: "Gill Sans", sans-serif;
    padding: 30px;
}
table{
    background-color: #BFB5D8;

}
table, th, td{
    border: 1px solid black;
}
th{
    font-size: 30px;
}
td{
    font-size: 30px;
    text-align: center;
}

tbody {
    font-size: 95%;
    font-style: italic;
    border-width: 50px;
    border-style: solid;
    border-color:black;
}

h1{
    grid-area: header;
    font-family:"Gill Sans", sans-serif;
    text-align: center;
    font-size: 3em;
    padding: 30px;
    background-color: dimgrey;

}

.login{
    /*border: 1px solid black;*/
    padding: 20px;
    background-color: #BFB5D8;
}

label{
    font-family: "Gill Sans", sans-serif;
    font-size: 20px;
    text-align: center;
}

.box{
    width: 100%;
    position:relative;
    padding: 15px;
}

input{
    padding: 5px;
    margin-left: 20px;
    border: 1px solid gold;
}


.wrapper .box input{
    width: 100%;
    font-size: 20px;
    border-bottom: 1px solid darkblue;
    background:transparent;
}

#btnsubmit{
    background: antiquewhite;
    padding: 10px 10px;
    border: none;
    font-size: 23px;
    font-family: "Gill Sans", sans-serif;
    display: block;
    margin: auto;
    width: 100px;
}

#error{
    display: block;
}



